/* ------------------------------------------------
index page style
-------------------------------- */
section{
  margin-top: 2rem;
  line-height: 1.4;
  
}
.profile> div:nth-child(1){
  align-items: center;
  padding: auto;
}
.profile> div:nth-child(1)> img{
  width: 200px; 
  height: 200px;
  border-radius:50%;
}
.info-group{
  display: flex;
  margin-bottom: 0.5rem;
  flex-direction: row;
  justify-content: space-between;
}
.info-group> div:nth-child(1){
min-width: 15%;
}
.info-group> div:nth-child(2){
 margin-right: 5px;
 flex-grow: 1;
}
.subject-container{
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  padding: 0.5rem;
}
.subject-container .progress-title-group{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:flex-end;
  padding-left: 0.5rem;
  padding-right:  0.5rem;
}
.subject-container .progress-title-group> span{
  font-size: small;
  font-weight: bold;

}
.subject-container .progress-title-group> span:nth-child(2){
 margin-right: auto;
 /* margin-block-start: auto; */
}
.row>div{
  margin-top: 1rem;
}
footer{
  text-align: center;
  align-items: center;
}
footer .link-container{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
footer .footer-bootom{
  margin-top: 2rem;
  padding-bottom: 2rem;
}
label{
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.project{
  border: 1px solid #eeeeee;
  margin: 0.5rem;
  border-radius: 5%;
  padding: 0.5rem;
}
.project .project-title{
  margin-top: 1rem;
  
}
.project .project-title label{
  font-size: medium;
  font-weight: bold;
  color: #000000;

}
.social-list{
    list-style-type: none;
    list-style: none;
 
  }
  .social-list li{
     display: inline-block;
     margin-left: 5px;
     margin-right: 5px;
  }
  .btn-git-in{
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 15%;
    border: 1px solid beige;
    box-shadow: 0px 3px 2px 1px rgba(0,0,0, 0.2);

  }
 
  form{
    padding: 15px;
  }

 